body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,label,p,blockquote,table,th,td,a{ margin:0; padding:0;box-sizing: border-box;}

body { background:#f2f2f2; color:#000; font-size:14px;position: relative;width: 100%;height: 100%; font-family: "PingFangHK-Thin", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
table { border-collapse:collapse; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#000; text-decoration:none;display: inline-block;}
img { border:none; }
.img>img{
    width: 100%;
    height: 100%;
}
ol,ul,li { list-style:none; }
img{
    background-color: #ddd;
}
input, textarea, select, button { font-size:14px; outline: none;border: none;display: inline-block;font-family: "PingFangHK-Thin", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif!important;}
a,button{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    cursor: pointer;
}
a:hover,a:active,a:focus{
    color: #fff;
    text-decoration: none;
}

.fl{float: left;}
.fr{float: right;}

.hide{display: none;}
.clearfix:after {content: " "; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.w1200{width: 1200px;margin: auto;overflow: hidden;}
.w790{width: 790px;margin: auto}
.mb20{margin-bottom: 20px}
.mb40{ margin-bottom: 40px}
.mb45{ margin-bottom: 45px}
.mt30{margin-top: 30px}
.mt20{margin-top: 20px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}
.red{color:#e92332;}
.font-regular{font-family:PingFangHK-Regular;}
a.bggray{background: #999;}
.bgyellow{background:#f59914;}
.bgpurple{background:#350443;}
.bggreen{background:#00b3b9;}
.bgred{background:#e92332;}
.bgbrown{background:#be956a;}

.purple>h2{color: #350443;}
.green>h2{color: #00b3b9;}
.red>h2{color: #e92332;}
.brown>h2{color: #be956a;}

.purple .adg-cont .fl p{background: #350443;}
.green .adg-cont .fl p{background: #00b3b9;}
.red .adg-cont .fl p{background: #e92332;}
.brown .adg-cont .fl p{background: #be956a;}


/****公共样式****/
/*侧边悬浮样式*/
.sidefu{
    height: 300px;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 100;
}
.sidefu li{
    width: 80px;
    height: 80px;
    background: #666;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in;
}
.sidefu li.telp:hover{
    width: 300px;
    margin-left: -220px;
}
/*公共表单*/
.onekeyorder{
    background: #1d1d1e;
    width: 100%;
    padding: 80px 0;
    min-width: 1200px;
}
.onekeyorder h2{
    font-size:60px;
    line-height: 60px;
    color:#ff4229;
    text-align: center;
    margin-bottom: 70px;
}
.onekeyorder .steps{
    padding-left: 55px;
    width: 1150px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 65px;
}
.onekeyorder .steps li{
    float: left;
    margin-right: 100px;
}
.metform{
    width: 700px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.metformul>li{
    width: 100%;
    height: 60px;
    padding: 15px 25px;
    line-height: 30px;
    background: #fff;
    font-size: 24px;
    margin-bottom: 30px;
    position: relative;
}
.metformul>li span{
    float: left;
    display: block;
    font-size: 24px;
    line-height: 40px;
    margin-right: 3px;
}
.metformul>li .title{float: left;color: #666;}
.metformul>li p{
    float: left;
    font-size: 24px;
    margin-right: 15px;
    color: #666;
}
.metformul>li input{
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
}
.metformul>li .time{
    float: left;
    height: 60px;
    width: 520px;
    background: url("../img/date.png") no-repeat right center;
    margin-top: -15px;
}
.metformul>li .time input{
    width: 100%;
    height: 100%;
    background: none;
}
.metform .hotline{
    font-size: 42px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.btnyzcode{
    width: 230px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    background: #ff4229;
}
.btn-group{width: 825px;}
.btn-group .formbtn{
    width: 700px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 36px;
    color: #fff;
    margin-right: 45px;
    margin-bottom: 80px;
    background: #ff4229;
}
.btn-group .qq{
    display: block;
    width: 80px;
    height: 80px;
    background: url("../img/qq.png") no-repeat center #ff4229;
    position: absolute;
    top: 0;
    right: 0;
}
/*公共表单下拉*/
.select{
    width: 300px;
    height: 40px;
    background: #fff;
    cursor: pointer;
    position: relative;
}
.select:after{
    content:"";
    display: block;
    width: 0px;
    height: 0px;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
    position: absolute;
    top: 26px;
    right: 40px;
    transition: all 0.3s ease-in;
}
.metformul>li.select p{
    width: 525px;
    height: 60px;
    padding:0 15px;
    line-height: 60px;
    margin-top: -15px;
    color: #000;
}
.select ul{
    background: #fff;
    width: 525px;
    position: absolute;
    top: 50px;
    left: 134px;
    overflow: hidden;
    max-height: 0;
    z-index: 10;
}
.select ul li{
    padding: 0 15px;
    line-height: 40px;
    cursor: pointer;
}
.select ul li:hover{
    background: #e0e0e0;
}
.select ul li.selected{
    background: #000;
    color: #fff;
}
@keyframes slide-down{
    0%{transform: scale(1,0);}
    25%{transform: scale(1,1.2);}
    50%{transform: scale(1,0.85);}
    75%{transform: scale(1,1.05);}
    100%{transform: scale(1,1);}
}
@-webkit-keyframes slide-down{
    0%{transform: scale(1,0);}
    25%{transform: scale(1,1.2);}
    50%{transform: scale(1,0.85);}
    75%{transform: scale(1,1.05);}
    100%{transform: scale(1,1);}
}
.select.open ul{
    max-height: 250px;
    transform-origin: 50% 0;
    animation: slide-down 0.5s ease-in;
    -webkit-animation: slide-down 0.5s ease-in;
    transition: max-height 0.2s ease-out;
}
.select.open:after{
    transform: rotate(-180deg);
    transition: all 0.3s ease-in;
}
/*专题分页banner*/
.banner{
    height: 500px;
}
.top-banner .swiper-slide{
    height: 500px;
}
.top-banner .swiper-slide img{
    width: 100%;
    height: 500px;
}
.top-banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.top-banner .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #ff4229;
    opacity: 1;
    background: #fff;
    font-size:18px;
}

.top-banner .swiper-pagination-bullet-active {
    color: #fff;
    background:#ff4229;
}

.top-banner .swiper-container-horizontal>.swiper-pagination-bullets{
    bottom:20px;
}
.bg-little-black{
    background-color: #1d1d1e;
}
.bg-big-black{
    background-color: #000;
}


/*****首页****/

/*首页banner部分*/
.banner-wrapper{
    width: 100%;
    min-width: 1200px;
}
.homebanner{
    width: 1920px;
    height: 700px;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    left: 50%;
    margin-left: -960px;
}
.homebanner img{
    width: 100%;
    height: 100%;
}
.orderbtn{
    display: block;
    width: 300px;
    height: 80px;
    line-height: 80px;
    background: #ff4229;
    font-size:32px;
    color:#fff;
    text-align:center;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    bottom: 140px;
}
/*专题入口*/
.topic-entrance{
    width: 100%;
    min-width: 1200px;
}
.topic-entrance li{
    float: left;
    width: 25%;
    height: 800px;
    overflow: hidden;
    position: relative;
}
.topic-entrance li:after{
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(1,1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}
.topic-entrance li:nth-of-type(1):after{
    background: url("../img/entr-large1.png") no-repeat center;
}
.topic-entrance li:nth-of-type(2):after{
    background: url("../img/entr-large2.png") no-repeat center;
}
.topic-entrance li:nth-of-type(3):after{
    background: url("../img/entr-large3.png") no-repeat center;
}
.topic-entrance li:nth-of-type(4):after{
    background: url("../img/entr-large4.png") no-repeat center;
}
.topic-entrance li:hover:after{
    transform: scale(1.1,1.1);
    left: 0;
    top :0;
}
.topic-entrance li>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top:0;
    z-index: 3;
}
.topic-entrance li>a .text{
    position: relative;
    z-index: 10;
}
.topic-entrance li>a:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgba(0,0,0,.4);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}
.topic-entrance li:hover>a:after{
    background: rgba(0,0,0,.2);
}
.topic-entrance li h2{
    font-size: 38px;
    color: #fff;
    margin-top: 330px;
    text-align: center;
    line-height: 1.25em;
}
.topic-entrance li .icon-in{
    display: block;
    width: 60px;
    height: 60px;
    background: url("../img/icon-in.png") no-repeat center #ff4229;
    margin: 60px auto 0;
    border-radius: 50%;
}


/****创意年会****/
































/****中型年会****/
.advantage{
    padding:50px 0;
    text-align: center;
}
.advantage p{
    /*text-align: center;*/
    margin: 0;
}
.advantage p.title{
    font-size:42px;
    color:#ff4229;
    text-align:justify;
    text-align: center;
    margin-bottom: 45px;
}
.advantage p.title2{
    font-size:24px;
    color:#ffffff;
    line-height: 1;
    margin-bottom: 30px;
}
.advantage p.title3{
    font-size:16px;
    color:#ffffff;
    line-height: 1.6;
    margin-bottom: 35px;
}
.advantage .con:last-child  p.title3{
    margin-bottom: 10px;
}

.title-wrap p.title1{
    font-size:82px;
    color:#ffffff;
    text-align:left;
    margin-top: 60px;
}
.title-wrap p.title2{
    font-size:60px;
    color:#ffffff;
    text-align:left;
    margin-bottom: 70px;
}
.special-place ul{
    margin-right: -20px;
}
.special-place ul li.piece{
    width:590px;
    height: 750px;
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
}
.special-place ul li.piece a{
    display: block;
}
.special-place ul li.piece .img{
    width:100%;
    height:400px;
    display: block;
}
.special-place .des{
    height: 350px;
    padding: 30px 20px 0 20px;
    background-color: #fff;
}
.special-place .des .main-a{
    font-size:28px;
    color: #000;
    margin-bottom: 14px;
    line-height: 1;
}
.special-place .des .sub-name{
    color:#ff4229;
    font-size: 18px;
    border-bottom: 2px solid #979797;
    padding-bottom: 22px;
}
.special-place .des .sub-des{
    margin: 20px 0;
}
.special-place .des .sub-des p{
    font-size:14px;
    color:#444444;
    text-align:justify;
    max-height: 40px;
    overflow: hidden;
}
.special-place ul li.piece .a-list li{
    margin-bottom: 12px;
    list-style-type: disc;
    margin-left: 20px;
}
.special-place ul li.piece .a-list li a{
    font-family:PingFangHK-Regular;
    font-size:18px;
    color:#000000;
    text-align:left;
}
.db-place ul li .img{
    display: block;
}
.db-place ul li .img img{
    display: block;
    width: 100%;
    height: 600px;
}
.db-place ul li .line{
    width: 510px;
    margin: 25px 0;
}
.db-place ul li .line:before{
   content: "";
    background:#666666;
    height:5px;
    display: block;
    margin-bottom: 10px;
}
.db-place ul li .line:after{
    content: "";
    background:#ededed;
    height:15px;
    display: block;
}
.db-place ul li .atitle{
    font-size:32px;
    color:#ffffff;
    margin:25px 0;
    display: block;
}
.db-place ul li .sub-des{
    font-size:14px;
    color:#ffffff;
}
.db-place ul li .relative-a{
    margin: 45px 0;
}
.db-place ul li .relative-a a{
    color: #fff;
    display: block;
    float: left;
    width: 400px;
    text-align: center;
    border-right: 2px solid #802114;
    font-family:PingFangHK-Regular;
    font-size:18px;
    color:#ffffff;
}
.db-place ul li .relative-a a:last-child{
    border-right: 0;
}
.db-place .relative-ul li{
    float: left;
    width: 25%;
    height: 200px;
    position: relative;
}
.db-place .relative-ul li a{
    display: block;
    height: 100%;
}
.db-place .relative-ul li p{
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 0 20px;
    font-size: 22px;
    top: 50%;
    background:rgba(255,255,255,0.50);
    color: #000;
    font-family:PingFangHK-Regular;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.db-place .relative-ul li img{
    width: 100%;
    display: block;
    height: 100%;
}
.db-place.piece3 ul li{
    width: 390px;
    margin-right: 10px;
    height:250px;
    margin-bottom: 20px;
}
.db-place.piece3 ul{
    margin-right: -10px;
    margin-bottom: -20px;
}
.services li{
    width:590px;
}
.services li .img{
    display: block;
    width: 100%;
    height: 400px;
    position: relative;
}
.services li .img img{
    width: 100%;
    height: 100%;

}
.services li .img p{
    background:rgba(255,255,255,0.80);
    height:100px;
    position: absolute;
    top:50%;
    margin-top: -50px;
    line-height: 100px;
    text-align: center;
    width: 100%;
    font-size:32px;
    color:#000000;

    padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.services .relative-a{
    float: left;
    width: 190px;
}
/*.special-place .des*/
/*.special-place.short-piece ul li{*/
    /*height: 505px;*/
/*}*/
/*.special-place.short-piece .des .sub-name{*/
    /*border-bottom:0;*/
/*}*/