body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,label,p,blockquote,table,th,td { margin:0; padding:0;}

body { background:#f2f2f2; color:#000; font-size:14px;position: relative;width: 100%;height: 100%; font-family: "PingFangHK-Thin", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
table { border-collapse:collapse; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#666; text-decoration:none;display: inline-block;}
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font-size:14px; outline: none;border: none;display: inline-block;font-family: "PingFangHK-Thin", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif!important;}
a,button{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    cursor: pointer;
}
.fl{float: left;}
.fr{float: right;}

.hide{display: none;}
.clearfix:after {content: " "; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.w1200{width: 1200px;margin: auto}
.mt20{margin-top: 20px}
.mb20{margin-bottom: 20px}
.mt30{margin-top: 30px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}
.red{color:#e92332;}
.bgyellow{background:#f59914;}
body{padding-bottom: 50px;}

/*侧边悬浮样式*/
.sidefu{
    height: 300px;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 100;
}
.sidefu li{
    width: 80px;
    height: 80px;
    background: #666;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in;
}
.sidefu li.telp:hover{
    width: 300px;
    margin-left: -220px;
}

/*公共banner部分*/
.banner-wrapper{
    width: 100%;
    min-width: 1200px;
}
.banner{
    width: 1920px;
    height: 500px;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    left: 50%;
    margin-left: -960px;
}
.banner img{
    width: 100%;
    height: 100%;
}
.orderbtn{
    display: block;
    background:#f59914;
    width:400px;
    height:100px;
    line-height: 100px;
    color: #fff;
    font-size: 36px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 85px;
}

/*首页内容部分*/
.section{
    width: 1200px;
    height: 500px;
    margin: 30px auto 0;
    background: #fff;
    position: relative;
}
.section>img{
    width: 1200px;
    height: 500px;
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
}
.section .text{
    width: 610px;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}
.section .text .title{
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 70px;
}
.section .text .titfu{
    font-size: 32px;
    line-height: 50px;
}
.section .text .scale{
    font-size: 24px;
    line-height: 50px;
    margin-top: 40px;
}
.btn-recommend{
    display: block;
    width: 600px;
    height: 80px;
    position: absolute;
    bottom: 0;
}

.section .text.fl{text-align: left;}
.section .text.fr{text-align: right;}
.section .text.fl .btn-recommend{left: 0;}
.section .text.fr .btn-recommend{right: 0;}


.aboutyun .text{width: 580px;}
.aboutyun .text .title{
    margin-bottom: 50px;
}
.aboutyun .text>p{
    font-size: 18px;
    margin-bottom: 48px;
}

.metform{
    width: 450px;
    padding: 45px 90px;
    position: relative;
    z-index: 2;
    box-sizing: content-box;
}
.metformul>li{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #000;
    padding: 0 15px;
    margin-bottom: 10px;
    position: relative;
}
.metformul>li span{
    float: left;
    display: block;
    font-size: 24px;
    line-height: 30px;
    margin-top: 15px;
    margin-right: 3px;
}
.metformul>li .title{float: left;}
.metformul>li p{float: left}
.metformul>li input{
    float: left;
    display: block;
    height: 100%;
}
.metformul>li .time{
    float: left;
    height: 100%;
    padding-left: 30px;
    background: url("../img/time.png") no-repeat left 14px;
    margin-left: 20px;
    width: 120px;
    box-sizing: border-box;
}
.metformul>li .time input{
    width: 300px;
}
.formbtn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}
.yzcode{
    width: 180px;
    height: 50px;
    position: absolute;
    right: -1px;
    top: -1px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.yzcode:hover{
    color: #fff;
    text-decoration: none;
}

/*下拉*/
.select{
    width: 300px;
    height: 40px;
    background: #fff;
    cursor: pointer;
    position: relative;
}
.select:after{
    content:"";
    display: block;
    width: 0px;
    height: 0px;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
    position: absolute;
    top: 19px;
    right: 19px;
    transition: all 0.3s ease-in;
}
.select p{
    width: 350px;
    padding:0 15px;
    line-height: 50px;
    box-sizing: border-box;
}
.select ul{
    background: #fff;
    width: 450px;
    position: absolute;
    top: 50px;
    left: -1px;
    overflow: hidden;
    max-height: 0;
    z-index: 10;
}
.select ul li{
    padding: 0 15px;
    line-height: 40px;
    cursor: pointer;
}
.select ul li:hover{
    background: #e0e0e0;
}
.select ul li.selected{
    background: #f59914;
    color: #fff;
}
@keyframes slide-down{
    0%{transform: scale(1,0);}
    25%{transform: scale(1,1.2);}
    50%{transform: scale(1,0.85);}
    75%{transform: scale(1,1.05);}
    100%{transform: scale(1,1);}
}
@-webkit-keyframes slide-down{
    0%{transform: scale(1,0);}
    25%{transform: scale(1,1.2);}
    50%{transform: scale(1,0.85);}
    75%{transform: scale(1,1.05);}
    100%{transform: scale(1,1);}
}
.select.open ul{
    max-height: 250px;
    transform-origin: 50% 0;
    animation: slide-down 0.5s ease-in;
    -webkit-animation: slide-down 0.5s ease-in;
    transition: max-height 0.2s ease-out;
}
.select.open:after{
    transform: rotate(-180deg);
    transition: all 0.3s ease-in;
}

img{
    background-color: #ddd;
}





