body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,label,p,blockquote,table,th,td,a{ margin:0; padding:0;box-sizing: border-box;}

body { background:#f2f2f2; color:#000; font-size:14px;position: relative;width: 100%;height: 100%; font-family: "PingFangHK-Thin", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
table { border-collapse:collapse; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#666; text-decoration:none;display: inline-block;}
img { border:none; }
.img>img{
    width: 100%;
    height: 100%;
}
ol,ul,li { list-style:none; }
input, textarea, select, button { font-size:14px; outline: none;border: none;display: inline-block;font-family: "PingFangHK-Thin", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif!important;}
a,button{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    cursor: pointer;
}
a:hover,a:active,a:focus{
    color: #fff;
    text-decoration: none;
}

.fl{float: left;}
.fr{float: right;}

.hide{display: none;}
.clearfix:after {content: " "; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.w1200{width: 1200px;margin: auto}
.mb20{margin-bottom: 20px}
.mb45{ margin-bottom: 45px}
.mt30{margin-top: 30px}
.mt20{margin-top: 20px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}
.red{color:#e92332;}
a.bggray{background: #999;}
.bgyellow{background:#f59914;}
.bgpurple{background:#350443;}
.bggreen{background:#00b3b9;}
.bgred{background:#e92332;}
.bgbrown{background:#be956a;}

.purple>h2{color: #350443;}
.green>h2{color: #00b3b9;}
.red>h2{color: #e92332;}
.brown>h2{color: #be956a;}


.purple .adg-cont .fl p{background: #350443;}
.green .adg-cont .fl p{background: #00b3b9;}
.red .adg-cont .fl p{background: #e92332;}
.brown .adg-cont .fl p{background: #be956a;}

body{padding-bottom: 50px;}

/*侧边悬浮样式*/
.sidefu{
    height: 300px;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 100;
}
.sidefu li{
    width: 80px;
    height: 80px;
    background: #666;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in;
}
.sidefu li.telp:hover{
    width: 300px;
    margin-left: -220px;
}

/*公共banner部分*/
.banner-wrapper{
    width: 100%;
    min-width: 1200px;
}
.banner{
    width: 1920px;
    height: 500px;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    left: 50%;
    margin-left: -960px;
}
.banner img{
    width: 100%;
    height: 100%;
}
.orderbtn{
    display: block;
    background:#f59914;
    width:400px;
    height:100px;
    line-height: 100px;
    color: #fff;
    font-size: 36px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 85px;
}

/*首页内容部分*/
.section{
    width: 1200px;
    height: 500px;
    margin: 30px auto 0;
    background: #fff;
    position: relative;
}
.section>img{
    width: 1200px;
    height: 500px;
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
}
.section .text{
    width: 610px;
    height: 100%;
    padding: 40px;
    position: relative;
    z-index: 2;
}
.section .text .title{
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 70px;
}
.section .text .titfu{
    font-size: 32px;
    line-height: 50px;
}
.section .text .scale{
    font-size: 24px;
    line-height: 50px;
    margin-top: 40px;
}
.btn-recommend{
    display: block;
    width: 600px;
    height: 80px;
    position: absolute;
    bottom: 0;
}

.section .text.fl{text-align: left;}
.section .text.fr{text-align: right;}
.section .text.fl .btn-recommend{left: 0;}
.section .text.fr .btn-recommend{right: 0;}


.aboutyun .text{width: 580px;}
.aboutyun .text .title{
    margin-bottom: 50px;
}
.aboutyun .text>p{
    font-size: 18px;
    margin-bottom: 48px;
}

.metform{
    width: 450px;
    padding: 45px 90px 30px;
    position: relative;
    z-index: 2;
    box-sizing: content-box;
}
.metformul>li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #000;
    padding: 0 15px;
    margin-bottom: 10px;
    position: relative;
}
.metformul>li span{
    float: left;
    display: block;
    font-size: 24px;
    line-height: 30px;
    margin-top: 15px;
    margin-right: 3px;
}
.metformul>li .title{float: left;}
.metformul>li p{float: left}
.metformul>li input{
    float: left;
    display: block;
    height: 100%;
}
.metformul>li .time{
    float: left;
    height: 100%;
    padding-left: 30px;
    background: url("../img/time.png") no-repeat left 14px;
    margin-left: 20px;
    width: 120px;
}
.metformul>li .time input{
    width: 300px;
}
.formbtn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}
.btnyzcode{
    width: 180px;
    height: 50px;
    position: absolute;
    right: -1px;
    top: -1px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

/*下拉*/
.select{
    width: 300px;
    height: 40px;
    background: #fff;
    cursor: pointer;
    position: relative;
}
.select:after{
    content:"";
    display: block;
    width: 0px;
    height: 0px;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
    position: absolute;
    top: 19px;
    right: 19px;
    transition: all 0.3s ease-in;
}
.select p{
    width: 350px;
    padding:0 15px;
    line-height: 50px;
}
.select ul{
    background: #fff;
    width: 450px;
    position: absolute;
    top: 50px;
    left: -1px;
    overflow: hidden;
    max-height: 0;
    z-index: 10;
}
.select ul li{
    padding: 0 15px;
    line-height: 40px;
    cursor: pointer;
}
.select ul li:hover{
    background: #e0e0e0;
}
.select ul li.selected{
    background: #000;
    color: #fff;
}
@keyframes slide-down{
    0%{transform: scale(1,0);}
    25%{transform: scale(1,1.2);}
    50%{transform: scale(1,0.85);}
    75%{transform: scale(1,1.05);}
    100%{transform: scale(1,1);}
}
@-webkit-keyframes slide-down{
    0%{transform: scale(1,0);}
    25%{transform: scale(1,1.2);}
    50%{transform: scale(1,0.85);}
    75%{transform: scale(1,1.05);}
    100%{transform: scale(1,1);}
}
.select.open ul{
    max-height: 250px;
    transform-origin: 50% 0;
    animation: slide-down 0.5s ease-in;
    -webkit-animation: slide-down 0.5s ease-in;
    transition: max-height 0.2s ease-out;
}
.select.open:after{
    transform: rotate(-180deg);
    transition: all 0.3s ease-in;
}

/**全国年会**/
.nation-section>h2{
    font-size:36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.gz-cont li{
    float: left;
    width: 595px;
    height: 750px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
}
.gz-cont li:nth-child(2n+2){
    margin-right: 0;
}
.gz-cont li .img{
    width: 100%;
    height: 400px;
}
.gz-cont li .text{
    padding: 20px;
}
.gz-cont li .text h5{
    font-size:32px;
    line-height:32px;
    margin: 10px 0 30px;
    text-align: center;
}
.gz-cont li .text p{
    font-size:22px;
    line-height: 1.35em;
}
.shzh-cont>li{
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}
.shzh-cont>li>img{
    width: 1200px;
    height: 500px;
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
}
.shzh-cont>li .text{
    width: 600px;
    height: 400px;
    background: #fff;
    padding: 30px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.shzh-cont>li .text h5{
    font-size:32px;
    line-height: 42px;
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}
.shzh-cont>li .text p{
    font-size:22px;
    line-height: 1.35em;
}
.adg-cont .fl{
    width: 500px;
}
.adg-cont .fl p{
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 26px;
    color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}
.adg-cont .fr{
    width: 660px;
    overflow: hidden;
}
.adg-cont .fr p{
    font-size: 18px;
    margin-bottom: 40px;
}
.step{
    width: 560px;
    padding: 75px 60px 10px;
}
.step li{
    font-size:32px;
    line-height: 32px;
    margin-bottom: 70px;
}
.step li strong{
    font-weight: bold;
    margin-right: 20px;
}
.step .telphone{
    font-size: 26px;
    height: 35px;
    line-height: 35px;
    padding-left: 65px;
    background: url("../img/icon-tel.jpg") no-repeat left center;
    margin-top: 110px;
}


/*创意年会*/
.chyi-cont>li{height: auto;}
.chyi-cont .fl{
    width: 900px;
    height: 600px;
    position: relative;
}
.chyi-cont .fl>img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
}
.chyi-cont .fl .text{
    position: relative;
    z-index: 2;
    margin-top: 100px;
}
.chyi-cont .fr{
    width: 300px;
    height: 600px;
    overflow: hidden;
}
.chyi-cont .fr dd{
    width: 300px;
    height: 200px;
}
.chyi-cont .topcont{
    width: 1200px;
    height: 474px;
    position: relative;
    overflow: hidden;
}
.chyi-cont .topcont>img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
}
.chyi-cont .topcont .text{
    margin-top: 33px;
    position: relative;
    z-index: 2;
}
.chyi-cont .botmcont dd{
    float: left;
    width: 400px;
    height: 150px;
}
.morecont .title{
    font-size: 28px;
    height: 28px;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.morecont li{
    float: left;
    width: 292px;
    height: 202px;
    margin-right: 10px;
}
.morecont li:last-child{margin-right: 0;}




